<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% include 'navbar.html'%}
<style>body{
    margin : 0px;
    background-color: rgb(50, 48, 48);
}</style>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwXGMe1D3mfMctZzWQXXbjS6n6NQuPhiWrQQ&usqp=CAU" width="2%"
    style = 'position: absolute; top :25%; left:18%;'>
    <h1 style = 'position: absolute; top :10%; left:17%;color: white;'>My Mail Id </h1>
    <h3 style = 'position: absolute; top :23%; left:22%;color: white;'>hrithikredy2002@gmail.com </h3>
<!--     
    <img src="https://i.pinimg.com/originals/d6/31/5f/d6315f37f2262496228462ef732e83b1.jpg" width="2%"
    style ='position: absolute; top:45%; left:18%'>  -->
    <h1 style ='position: absolute; top:32%; left:18%; color: white;'>Click to go</h1>


    <a href='https://www.linkedin.com/in/hrithik-reddy'><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="2%"
    style ='position: absolute; top:45%; left:18%'></a>
    <a href='https://github.com/Hrithik2212'><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width ="3%"
    style ='position: absolute; top:45%; left:28%'></a>
    <h1 style ='position: absolute; top:60%; left:68%; color: white;'>Thank You</h1>
</body>
</html>