<style>

nav{
        background-color: black;
        overflow: hidden;
        padding : 10px;
    }
    .nav a{
        color:white;
        text-decoration: none;
        text-align: center;
        float: right;
        text-indent: 22px;
        margin: 14px;
    }
     .nav a:hover{
        color : white;
        font-size:20px ;
        text-align:inherit;
        
    } 
</style>


<div class = "nav">
    <nav>
        <a href="{% url 'Contact' %}">Contact</a>
        <a href="{% url 'About' %}">About</a>
        <a href="{% url 'Projects' %}">Projects</a>
        <a href="{% url 'Certifications' %}" >Certifications</a>
        <a href="/" >Home</a>
        
    </nav>
</div>